html, body {
    margin: 0;
    padding: 0
} 

body {
    min-height: 97vh;
}

div#heading {
    background-color: black;
    color: white;
    padding: 16px 12px;
}

#heading h1 {
    margin: 0;
}

a {
    color: yellowgreen
}

div#main {
    padding-top: 50px;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

div#main #view-history {
    margin-bottom: 40px;
}

div#input {
    font-size: 4rem;
    margin-bottom: 50px;
}

.btn {
    border-radius: 4px;
}

div#buttons div {
    margin-bottom: 35px;
}

div#buttons button {
    padding: 12px 120px;
    font-size: 1.2rem;
}

div#history {
    padding: 16px 12px;
    /* display: none; */
}

div#history #back-btn, #clear-btn {
    padding: 7px 12px;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    div#view-history {
        display: none;
    }

    div#content {
        display: flex;
    }

    div#main {
        flex-basis: 70%;
        border-right: 1px solid black;
        height: calc(97vh - 170px);
        padding-top: 120px;
    }

    div#history {
        flex-basis: 30%;
        display: block;
        /* height: 85vh; */
        height: calc(97vh - 90px);
        overflow-y: auto;
    }

    button#back-btn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

}

/* Utility classes */

.d-none {
    display: none;
}